{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--- Landing Page --->
        <div class="container landing-page">
            <div class="row">
                <div class="col-7 col-md-6 my-auto">
                    <h2 class="text-black landing-page-content logo-font wow animate__animated animate__fadeInDown">
                        Bathing has never been this fun!
                    </h2>
                    <div class="my-5">
                        <h4>
                            <a href="" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Take a Look</a>
                        </h4>
                    </div>
                </div>    
            </div>
        </div>
    
    <!--- Latest Arrivals --->

    <div class="container-fluid latest-arrivals">
        <div class="row">
            <div class="col">
                <h2 class="text-center logo-font">Latest Arrivals</h2>
            </div>
        </div>
        <div class="row">
                    <!--- first new product --->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="div-product-card">
                            <div class="div-product-card-img">
                                <div class="product-card-content">
                                    <a href="" class="product-page-link">
                                        <div class="div-product-card-img">
                                            <img src="{% static 'images/home_page/lavender-bathsalt.jpg' %}" height=400px width=300px alt="bathsalt pic"/>
                                        </div>
                                        <h3 class="product-card-title text-center">Lavender Bath Salts</h3>
                                        <h3 class="product-price text-center">€5 per pack</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- Second New product  --->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="div-product-card">
                            <div class="div-product-card-img">
                                <div class="product-card-content">
                                    <a href="" class="product-page-link">
                                        <div class="div-product-card-img">
                                            <img src="{% static 'images/home_page/lime-sugarscrub.jpg' %}" height=400px width=300px alt=""/>
                                        </div>
                                        <h3 class="product-card-title text-center">Lime Sugar Scrub</h3>
                                        <h3 class="product-price text-center">€5 per pack</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- Third New product  --->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="div-product-card">
                            <div class="div-product-card-img">
                                <div class="product-card-content">
                                    <a href="" class="product-page-link">
                                        <div class="div-product-card-img">
                                            <img src="{% static 'images/home_page/lipbalms.jpg' %}" height=400px width=300px alt=""/>
                                        </div>
                                        <h3 class="product-card-title text-center">Lip Balms</h3>
                                        <h3 class="product-price text-center">€2 per pack</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    

        <!--- About  --->
    <div class="container-fluid" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3 mb-3 pb-1">
                    <h2 class="logo-font">About Us</h2>
                </div>
            </div>
           
            
            <div class="container">
                <div class="row align-items-center my-4">
                    <div class="col-12 col-md-6">
                        <div class="image-container my-4">
                            <img src="{{ MEDIA_URL }}home_page/about-image.jpg" alt="about-photo" width="550" height="400" class="about-image">
                        </div>
                    </div>
                    <!--- About text container --->
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="about-details-container mb-5 mt-md-5">
                            <h2 class="about-heading">Our Story</h2>
                            
                            <p class="about-text">Bubbles is an Indian based company established by couple Sab and Maha
                                 Their mission is to design products, that become must have, can’t live without favorites.  Perfecting completely natural, healing recipes
                                 that smell amazing, really work & are beautifully plastic-free packaged.</p>
                                
                            <p class="about-text"> Bath bombs and Bubblebath are their specialities and are specially designed for kids. 
                                 We use only the best essential oils, botanicals, and minerals including organic rosemary leaf, organic lavender flowers, organic cocoa butter, 
                                 Shea butter and many more.</p>

                            <p class="about-text">As soon as We started selling the soaps We could see that we had created a product that people wanted and needed and that there was a demand for my soaps. 
                                 The key was to create the products at a price everyone could afford.</p>

                            <p class="about-text">The determination to barter, take a risk and deliver on honest handshakes means the business has self-funded its own growth. 
                                 “We were very fortunate that the first few factories we worked with knew we had deals with the major supermarkets and agreed I could pay them when I got paid.</p>
                            </p>

                            <p class="about-text">We’re a company that is open and transparent, and we’ve created a brand that showcases this, as well as our roots. 
                                It’s a brand with personality that has genuine heritage and in today’s world this can go a long way to helping build a loyal customer base</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--- Testimonials --->
            <div class="container hp-section-1-heading">
                <h2 class="text-center logo-font">Success stories</h2>
                <h3 class="text-center logo-font">Testimonials</h3>
            </div>
            
            <div class="container mt-4">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <p class="test-text">I’m always happy to find great products that are made in my home state, and these products meet that description. 
                                     The soap is great smelling without being overpowering, and it didn’t dry my skin out at all.  As the cold weather returns
                                      it seems dry skin can be a real issue in our household.  This stuff has helped out a lot with that. 
                                </p>
                                    <img src="{% static 'images/home_page/testimonial1.jpg' %}" alt="akanksha">
                                <div id="image-caption-1">akanksha</div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <p class="test-text">If you are looking for a homemade soap that you don’t have to make yourself I give this one a big thumbs up! The prices are great too! 
                                </p> <img src="{% static 'images/home_page/testimonial2.jpg' %}" class="img-fluid" alt="shankar">
                                <div id="image-caption-2">shankar</div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <p class="test-text">Besides being a great product to use, it’s beautiful too.I love it when things are functional and beautiful at the same time.
                                    
                                </p> <img src="{% static 'images/home_page/testimonial3.jpg' %}" class="img-fluid" alt="samarth">
                                <div id="image-caption-3">samarthy</div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class="fas fa-arrow-left"></i>
                    </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

        <!-- Contact -->
    <section id="contact">
    <div class="container contact-container">
        <div class="row mb-5 mx-2 mx-sm-0">
            <div class="col-md-2"></div>
            <div class="col-md-8 ct-contact wow animate__animated animate__fadeInUp">
                <div class="mt-3 mb-4 text-center">
                    <h1>Contact Us</h1>
                </div>
                <form id="contactForm">
                    <label for="fullname">Full Name *</label>
                    <input type="text" name="name" class="form-control margin-5" id="fullname" placeholder="Your Name..." required/>
                    <label for="emailaddress">Email Address *</label>
                    <input type="email" name="emailaddress" class="form-control margin-5" id="emailaddress" minlength="10" pattern=".+.com" placeholder="Your Email address.." required/>
                    <label for="projectsummary">Subject *</label>
                    <textarea rows="5" name="projectsummary" class="form-control margin-5" style="height:200px" id="projectsummary" placeholder="Write your query and click submit.." required></textarea>
                    <button form="contactForm" type="submit" id="submit" >Submit</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
        
    {% endblock %}
   
