{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--- Landing Page --->
        <div class="container-fluid landing-page">
            <div class="row">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="text-black landing-page-content wow animate__animated animate__slideInRight">
                        Bathing has never been this fun!
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="cta-button btn btn-ls rounded-0 text-uppercase py-3 wow animate__animated animate__heartBeat" data-wow-iteration="3">Take a Look</a>
                        </h4>
                    </div>
                </div>    
            </div>
        </div>
    
    <!--- Latest Arrivals --->

        <div class="container-fluid latest-arrivals mb-5">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Latest Arrivals</h2>
                <p class="text-center">Curated for every month of the season. Find below our new Winter Innovations.Give  it a try for a warm and Cozy bath this Christmas</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="card border-0">
                            <a href="{% url 'product_detail' latest_arrival_1.id %}">
                                <img class="card-img la-img" src="{{ MEDIA_URL }}{{ latest_arrival_1.image }}" alt="{{ latest_arrival_1.name }}" width=255 height=400>
                            </a>
                            <div class="card-body pb-0 text-center la-name">
                                <a href="{% url 'product_detail' latest_arrival_1.id %}" class="cta-button btn btn-ls rounded-5">{{ latest_arrival_1.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="card border-0">
                            <a href="{% url 'product_detail' latest_arrival_2.id %}">
                                <img class="card-img la-img" src="{{ MEDIA_URL }}{{ latest_arrival_2.image }}" alt="{{ latest_arrival_2.name }}" width=255 height=400>
                            </a>
                            <div class="card-body pb-0 text-center la-name">
                                <a href="{% url 'product_detail' latest_arrival_2.id %}" class="cta-button btn btn-ls rounded-5">{{ latest_arrival_2.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="card border-0">
                            <a href="{% url 'product_detail' latest_arrival_3.id %}">
                                <img class="card-img la-img" src="{{ MEDIA_URL }}{{ latest_arrival_3.image }}" alt="{{ latest_arrival_3.name }}" width=255 height=400>
                            </a>
                            <div class="card-body pb-0 text-center la-name">
                                <a href="{% url 'product_detail' latest_arrival_3.id %}" class="cta-button btn btn-ls rounded-5">{{ latest_arrival_3.name }}</a>
                            </div>
                        </div>
                    </div>
               
        </div>
        </div>
        
    <!--- About  --->
        <div class="container-fluid" id="about">
            <div class="row">
                <div class="col text-center mt-3 mb-3 pb-1">
                    <h2 class="text-center">About us</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="about-text wow animate__animated animate__slideInRight">Bubbles is a handmade soap company established by couple Saba and Maha.
                        Their mission is to design products, that become must have, can’t live without favorites. Perfecting completely natural, healing recipes
                        that smell amazing, really work & are beautifully plastic-free packaged.Bath bombs and Bubblebath are their specialities and are specially designed for kids. 
                        They use only the best essential oils, botanicals, and minerals including organic rosemary leaf, organic lavender flowers, organic cocoa butter, 
                        Shea butter and many more.
                    </p>
                </div>
            </div>
            <div class="row align-items-center abt-row">
                <div class="col-12 col-md-12 col-lg-4 mt-2 mb-2">
                    <img class="abt-img abt1" src="{% static 'images/home_page/about1.jpg' %}" alt="about image" width=300 height=300/>
                </div>
                <div class="col-12 col-md-12 col-lg-4 mt-2 mb-2">
                    <img class="abt-img" src="{% static 'images/home_page/about2.jpg' %}" alt="about image" width=300 height=300/>
                </div>
                <div class="col-12 col-md-12 col-lg-4 mt-2 mb-2">
                    <img class="abt-img" src="{% static 'images/home_page/about3.jpg' %}" alt="about image" width=300 height=300/>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-12">
                    <p class="about-text wow animate__animated animate__slideInRight">As soon as they started selling the soaps they could see that they had created a product that people wanted and needed and that there was a demand for their soaps. 
                        The key was to create the products at a price everyone could afford.The determination to barter, take a risk and deliver on honest handshakes means the business has self-funded its own growth. 
                    </p>
                    <p class="about-text wow animate__animated animate__slideInRight mb-5">We’re a company that is open and transparent, and we’ve created a brand that showcases this, as well as our roots. 
                        It’s a brand with personality that has genuine heritage and in today’s world this can go a long way to helping build a loyal customer base.
                    </p>
                </div>
            </div>
        </div>
    
    <!--- Testimonials --->
        <section id="testimonial">
            <div class="container text-center mt-5">
                <div class="row mb-3 animate__animated animate__fadeInUp wow">
                    <div class="col-12">
                        <h1>Testimonials</h1>
                    </div>
                </div>
                <div class="row animate__animated animate__fadeInUp wow">
                    <div class="col-8 offset-2">
                        <div class="quote">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <div id="fade-quote-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                                <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img class="profile-circle mb-3" src="{% static 'images/home_page/testimony1.jpg' %}" alt="Akanksha image" />
                                    <blockquote>
                                        <h5 class="testimony-name">Akanksha.S</h5>
                                        <p class="about-text">
                                            Love all the soaps I have bought from Bubbles! They are high quality and the scents are amazing.
                                             I especially love using them in the mornings to wake me up and get me going for the day.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <img class="profile-circle mb-3" border-radius="50%" src="{% static 'images/home_page/testimony2.jpg' %}" alt="Aparna image" />
                                    <blockquote>
                                        <h5 class="testimony-name">Aparna.K</h5>
                                        <p class="about-text">
                                            I’m absolutely in love with these soaps. I’ve been on a journey to use less plastic in my home and 
                                            I love the Oatmeal & Honey bar which works great for me since I am allergic to many other soaps and scents! The shipping is very quick, too.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="active carousel-item">
                                    <img class="profile-circle mb-3" src="{% static 'images/home_page/testimony3.jpg' %}" alt="Abitha image" />
                                    <blockquote>
                                        <h5 class="testimony-name">Abitha.s</h5>
                                        <p class="about-text">
                                            I love the Oatmeal & Honey bar which works great for me since I am allergic to many other soaps and scents! The shipping is very quick, too.
                                            Your bars last SO much longer than store bought and are far superior. Thanks for starting my day with a boost of sunshine.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <img class="profile-circle mb-3" src="{% static 'images/home_page/testimony4.jpg' %}" alt="Shradha image" />
                                    <blockquote>
                                        <h5 class="testimony-name">Shraddha.K</h5>
                                        <p class="about-text">
                                            I’m always happy to find great products that are made in my home state, and these products meet that description. 
                                            The soap is great smelling without being overpowering, and it didn’t dry my skin out at all.  As the cold weather returns
                                            it seems dry skin can be a real issue in our household.  This stuff has helped out a lot with that. 
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="carousel-item">
                                    <img class="profile-circle mb-3" src="{% static 'images/home_page/testimony5.jpg' %}" alt="Jamuna image" />
                                    <blockquote>
                                        <h5 class="testimony-name">Jamuna.S</h5>
                                        <p class="about-text mb-5">
                                            If you are looking for a homemade soap that you don’t have to make yourself I give this one a big thumbs up! The prices are great too!
                                            Besides being a great product to use, it’s beautiful too.I love it when things are functional and beautiful at the same time.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- Contact -->
    <div class="bg-contact" id="contact">
        <h1 class="text-center">Contact us</h1>
        <div class="container">
            <div class="row mb-5 mx-2 mx-sm-0">
                <div class="col-md-2"></div>
                <div class="col-md-8 ct-contact wow animate__animated animate__fadeInUp">
                    <div class="mt-3 mb-4 text-center">
                        <h5>Share your feedback with us</h5>
                    </div>
                    <form method="POST" action="{% url 'contactform' %}" class="p-5">
                        {% csrf_token %}
                        {{ contact_form|crispy }}
                        <div class="row form-group">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn contact-btn" aria-label="Contact Form Submit Button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
        
    {% endblock %}
   
