{% extends "base.html" %}
{% load static %}



{% block content %}
    
        <div class="container landing-page">
            <div class="row">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-black landing-page-content">
                        Bathing has never been this fun!
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Take a Look</a>
                        </h4>
                    </div>
                </div>    
            </div>
        </div>
    
    
    <div class="container-fluid latest-finds">
        <p>latest finds section here</p>
    </div>
    <div class="container-fluid about">
        <p>about section here</p>
    </div>
    <div class="container-fluid testimony">
        <p>testimony section here</p>
    </div>
    <div class="container-fluid contact">
        <p>contact section here</p>
    </div>

{% endblock %}