{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Order History title -->
<div class="container-fluid mt-5">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">Order History</h2>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<div class="container">
    <div class="row shop-top-row">
        <div class="col-12">
            <div class="breadcrumbs">
                <p class="breadcrumbs-text">
                    <a href="{% url 'home' %}" class="breadcrumb-link">Home</a>
                    |
                    <a href="{% url 'profile' %}" class="breadcrumb-link">My profile</a>
                    |
                    <span class="active-breadcrumb">Order history</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Order history header -->
<div class="container profile-container mb-1">
    <div class="row p-2">
        <div class="col-12">
            {% if orders %}
                <p class="pl-5 pr-5 ">
                    Here is the list of your orders, {{ user.username }}.
                </p>
            <!-- No orders for new profile-->
            {% else %}
                <p class="pl-5 pr-5">
                    Looks like you haven't ordered anything yet, {{ user.username }}!
                    Check out our shop for amazing boutique pieces. You can also check out our blog, where we give great
                    inspiration for styling your home.
                </p>
                <div class="text-center mt-5">
                    <a href="{% url 'products' %}" class="btn cta-button mr-2 p-2">Shop Now</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Retrieving previous order details -->
<div class="container mb-5">
    
    {% for order in orders %}
    <div class="container mt-4 mb-2">
        <div class="row profileorderhistory">
            <div class="col-12 col-md-6">
                <p class="mb-1 text-center"><u>{{ order.date }}</u></p>
                <p class="mb-3 text-center">Order ID: {{ order.order_number|truncatechars:10 }}</p>
                <p class="mb-1 text-center"><u>ITEMS</u></p>
                {% for item in order.lineitems.all %}
                    <p class="text-center">{{ item.product.name }}
                        <span class="text-center">
                         - &nbsp;{{ item.quantity }}</span> 
                    </p>
                    
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                <p class="mb-1 text-center"><u>Amount</u></p>
                <p class="mb-3 text-center">€{{ order.grand_total }}</p>
            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}