{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Profile header -->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">Profile</h2>
        </div>
    </div>
    <!-- welcome msg -->
    <div class="align-items-center">
        <p class="mb-0 text-center">
                Welcome to your profile, <strong>{{ user.username }}!</strong>
        </p>
    </div> 
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <p class="breadcrumbs-text">
            <a href="{% url 'home' %}" class="breadcrumb-link">Home</a> >
            <span class="active-breadcrumb">My profile</span>
        </p>
    </div>
     
    <!-- links to order historyand edit profile -->
    <div class="align-items-center">
        <span>
            <a href="{% url 'order_history' %}" class="btn cta-button profile-btn">View order history</a>
        </span>
        <span>
            <a href="{% url 'edit_profile' %}" class="btn cta-button profile-btn">Edit My profile</a>
        </span>
    </div>
    <div class="row align-items-center mb-10">
            <a href="{% url 'products' %}" class="btn cta-button d-inline-block ml-5 mt-5 mb-5 profile-btn">Shop now</a>
    </div>
    </div>
</div>
  


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}