{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Profile header -->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">Profile</h2>
        </div>
    </div>
    <!-- welcome msg -->
    <div class="align-items-center">
        <p class="mb-0 text-center">
                Welcome to your profile, <strong>{{ user.username }}!</strong>
        </p>
    </div> 
    <div class="row mt-5 mx-5">
        <div class="col-12 col-md-4 mt-2 mb-2 profile-link">
            <a href="{% url 'edit_profile' %}" class="btn cta-button profile-btn">Edit My profile</a>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <a href="{% url 'order_history' %}" class="btn cta-button profile-btn">View order history</a>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <a href="{% url 'products' %}" class="btn cta-button profile-btn">Shop now</a>
        </div>
    </div>
    <div class = "row mt-5 profile">
        <div class="col-12">
            <h4>PERSONAL DETAILS</h4>
            <p><strong>Name:</strong> &nbsp; {{ user.username }}</p>
            <p><strong>Mobile:</strong> &nbsp; {{ order.phone_number }}</p>
            <p><strong>Email:</strong> &nbsp; {{ user.email }}</p>
        </div>
    </div>

    <div class = "row mt-5 profile mb-5">
        <div class="col-12">
            <h4>SHIPPING DETAILS</h4>
            
                <p><strong>Street Address:</strong> &nbsp; {{ order.street_address1 }}</p>
                <p><strong>City:</strong> &nbsp; {{ order.town_or_city }}</p>
                <p><strong>Country:</strong> &nbsp; {{ order.country }}</p>
                <p><strong>PostCode:</strong> &nbsp; {{ order.postcode }}</p>
            
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}