{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Profile header -->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">Profile</h2>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<div class="container">
    <div class="row shop-top-row">
        <div class="col-12">
            <div class="breadcrumbs">
                <p class="breadcrumbs-text">
                    <a href="{% url 'home' %}" class="breadcrumb-link">Home</a>
                    >
                    <span class="active-breadcrumb">My profile</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container profile-container">
    <div class="row align-items-center">
        <div class="col-12 ">
            <p class="mb-0 text-center">
                Welcome to your profile, <strong>{{ user.username }}!</strong>
            </p>  
        </div> 
    </div>
    <div class="row align-items-center text-align-center mb-5 pb-5 mt-5 pt-5">
        <div class="col-12 col-md-4">
            <a href="{% url 'order_history' %}" class="btn cta-button">View order history</a>
        </div>
        <div class="col-12 col-md-4">
            <a href="{% url 'edit_profile' %}" class="btn cta-button">Edit My profile</a>
        </div>
        <div class="col-12 col-md-4">
            <a href="{% url 'products' %}" class="btn cta-button d-inline-block m-auto">Shop now</a>
        </div>
    </div>
</div>
  


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}