@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


body {
    font-family: 'Satisfy', cursive;
    overflow-x: hidden;
    color: black;
    height: 100%;
    
}
html {
    scroll-behavior: smooth;
    height: 100%;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: 2;
}


.landing-page {
        background: url('/media/home_page/landing-page.jpg') no-repeat center center fixed;
        
        background-size: cover;
        margin-bottom: 4.5rem;
        height: 800px;
        
        
    }
    .landing-page-content {
        margin-top: 20rem;
        color:blue;
    }

    .nav-link-main {
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1.3rem;
    }
    .nav-center {
        margin-top: .7rem;
    }

.div-product-card-img{
    margin-left: 50px;
}

#demo {
    background: linear-gradient(
        112deg, rgb(0 123 255 / 25%) 50%, rgb(0 123 255 / 50%) 50%);
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem;
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem;
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.fa-arrow-right:before, .fa-arrow-left:before {
    background-color: #8D6346;
    padding: 1.4rem;
} 
.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}
    
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 100%;
    }
  }