  <!-- Footer -->
  <footer class="footer-all">
    <div class="pt-2 pt-md-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-2 mb-sm-0">
                    <h5 class="footer-title">Visit our shop</h5>
                    <ul>
                        <li>
                            <div class="row mb-3">
                                <div class="col-3">Address:</div>
                                <div class="col-9">
                                    <ul>
                                        <li>132 Zanddreef, Eindhoven, Netherlands</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-3">Opening Hours:</div>
                                <div class="col-9">
                                    <ul>
                                        <li><span>Weekdays: </span><span>08:00am - 06:00pm</span></li>
                                        <li><span>Weekends: </span><span>10:00am - 05:00pm</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h5 class="footer-title">Quick links</h5>
                    <ul class="footer-corporate-list">
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="second-footer-panel">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul id="social-icon" class="text-center">
                        <li class="mr-2">
                            <a href="https://www.linkedin.com/in/gomathi-shankar-688472134/" rel="noopener" target="_blank">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/gomathishankar28" rel="noopener" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 text-center">
                    <p><span class="mr-3">© 2021 Gomathi Shankar</span><span>Educational Purpose Only.</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>