<footer>
    <div id="footer">
        <div class="container-fluid">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <p><a href="{% url 'products' %}" class="footer-link">Products</a></p>
                        <p><a href="" class="footer-link">About</a></p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 no-padding order-md-3 order-lg-2">
                        <p><a href="" class="footer-link">Blog</a></p>
                        <p><a href="{% url 'products' %}" class="footer-link mb-15-mob">Contact</a></p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 no-padding order-md-2 order-lg-3 mt-2">
                        <p class="footer">
                            &nbsp;
                            <a href="https://www.linkedin.com/in/gomathi-shankar-688472134/" class="social-link" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a href="https://github.com/gomathishankar28/" class="social-link" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a href="https://www.facebook.com" class="social-link" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a href="https://www.instagram.com" class="social-link" target="_blank">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </p>
                        <p class="footer-txt mb-5">© 2021 Bubbles Educational Purpose only</p>
                    </div>
                </div>
                <div class="footer-line">
                </div>
            </div>
        </div>
    </div>
</footer>