<!-- Main Nav items -->
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-none d-lg-none">
            <a class="nav-link-main" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link-main" href="#" id="shop-cta" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">PRODUCTS<span class="sr-only">(current)</span></a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-cta">
                <a href="{% url 'products' %}?category=bathbombs" class="dropdown-item">Bath bombs</a>
                <a href="{% url 'products' %}?category=bubblebath" class="dropdown-item ">Bubblebath</a>
                <a href="{% url 'products' %}?category=conditioners" class="dropdown-item ">Conditioners</a>
                <a href="{% url 'products' %}?category=shampoos" class="dropdown-item ">Shampoos</a>
                <a href="{% url 'products' %}?category=soaps" class="dropdown-item ">Soaps</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link-main" href="{% url 'home' %}#about">ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-main" href="">BLOG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-main" href="{% url 'home' %}#contact">CONTACT</a>
        </li>
    </ul>
</div>