{% block content %}
{% load static %}
    <!-- Review header -->
<div class="container review-container mt-0 mb-5">
    <div class="row mt-0">
        <div class="col-12 col-md-6 shipping">
            <div class="view-review p-3">
                <h6 class="text-center"><strong>FIGHTING ANIMAL TESTING</strong></h6>
                    <p class="text-center review-desc p-2 text-secondary">
                        We have been fighting against animal testing since before we opened our shop, and the fight continues today. 
                        We test products on humans and promote, fund and use alternative testing methods entirely animal and animal-product free.
                    </p>
            </div>
            <div class="view-review mt-2">
                <h6 class="text-center mt-3 pt-3"><strong>DIRECTIONS FOR STORAGE</strong></h6>
                <p class="p-3 review-desc text-center text-secondary">Keep the bars fresh and dry in open bathroom caddies,that keeps it away from water.
                </p>
            </div>
            <div class="view-review">
                <h6 class="text-center mt-3 pt-3"><strong>SHIPPING & RETURNS</strong></h6>
                    <h6 class="text-center"><u>Shipping</u></h6>
                        <p class="p-3 review-desc text-secondary">Ground shipping is free for all purchases of 30 Euros or more.
                            It takes 2-8 business days to arrive after being shipped.
                        </p>
                    <h6 class="text-center"><u>Return Policy</u></h6>
                        <p class="p-3 review-desc text-secondary">Please note: we cannot accept returns without prior authorization.
                            To return an order made online or over the phone, contact our dedicated Customer Care team to get started.
                            Returned items need to be 75% intact and returned with their original packaging and include a copy of the packing slip. 
                             You can return items up to 90 days after the date we shipped your order. Shipping charges are not usually refundable.
                        </p>
            </div>
        </div>
        <div class="col-12 col-md-6 reviews">
            <div>
                <h2><u>CUSTOMER REVIEWS</u</h2>
                {% if avg_rating %}
                    <p class="rating-stars mt-2" data-value="{{ avg_rating }}"></p>
                {% else %}
                    <p class="rating-stars mt-2" data-value=0></p>
                {% endif %}
            </div>
            <!-- view Reviews accordion -->
            <div class="bs-example review-accordion">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header review-card" id="headingOne">
                            <h2 class="mb-0">
                                <button type="button" class="btn cta-button btn-link" data-toggle="collapse" data-target="#collapseOne">view Reviews</button>									
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse view-review" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                            {% if reviews %}
                                {% for review in reviews %}
                                    <h5 class="mb-0 fw-bold text-uppercase">{{ review.title }}</h5>
                                    {% if request.user.is_authenticated %} 
                                            <span>
                                            <a href="{% url 'edit_review' review.id %}" data-toggle="tooltip" title="Edit Review" data-placement="top" class="btn">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            </span>
                                            <span>
                                            <a href="{% url 'delete_review' review.id %}" data-toggle="tooltip" title="Delete Review" data-placement="top" class="btn">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                            </span>
                                    {% endif %} 
                                    <p class="rating-stars txt-small mt-1" data-value="{{ review.rating }}"></p>
                                    <span class="text-secondary review-desc">Posted on: &nbsp;{{ review.review_date|date:"M d, Y" }}</span>
                                    <p class="review-desc">"{{ review.description }}"</p>
                                    <p class="text-right review-desc"> - {{ review.user }} </p>
                                    
                                    <hr>
                                {% endfor %}
                            {% else %}
                                <p class="review-desc">No reviews avalibale for this product</p>
                            {% endif %}   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="{% url 'add_review' product.id %}" class="btn cta-button mt-3">
                        Add Your Review
                </a>
            </div> 
{% endblock %}
{% block postloadjs %}
<script type="text/javascript" src="{% static 'js/review.js' %}"></script>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}